{% extends "base.html" %}

{% block content %}
<p class="lead"></p>
{% for row in card_rows %}
<button class="accordion cardname" id="{{row["cardid"]}}" >
<script> assignColor({{row["cardid"]}}, {{row["cardclass"]}}) </script>
{{row["cardname"]}}</button>

<div class="panel">
	{% for sound_row in sound_rows %}
	{% if sound_row["cardid"] == row["cardid"] %}
	<audio id="Play" preload="none">
	<source src=
	"..\static\sounds\cardsounds\{{sound_row["cardname"]}}\sounds\{{sound_row["soundfile"]}} " 
	type="audio/mpeg">
	</audio>
	<button class="sound">{{sound_row["soundfile"]}}</button>
	{% endif %}
	{% endfor %}
	
</div>
{% endfor %}
<script src="..\static\js\accordion.js"> </script>
<script src="..\static\js\sounds.js"> </script>

{% endblock %}