<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Dingies Club</title>

</head>

<body>

	<div class="container">
		<div class="header">
			<nav>
				<ul class="nav-pills pull-right">
					<li role="presentation"><a href="/">Home </a>
					</li>
					<li role="presentation"><a href="#">About </a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="jumbotron">
			<h1 class="title">{{ app_title }}</h1>
			<p>:]</p>
		</div>

	    <footer class="footer">
	    	<p>by {{ author }}</p>
	    </footer>

   </div>
</body>
</html>